<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" %}
  <section class="section  section--related-posts">
    {% include post-related.html %}
  </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
  <section class="section  section--description">
    <h3>Faces of DOG</h3>
    <div style="display: inline-flex;">
      <div style="text-align: center;">
        <div style="display: inline-block;">
          <img src="/project-dog/assets/selin.jpg" style="height: 100px; width:100px; border-radius: 50px;" />
        </div>
        <p>Selin Onal</p>
      </div>
      &nbsp;&nbsp;&nbsp;
      <div style="text-align: center;">
        <div style="display: inline-block;">
          <img src="/project-dog/assets/rick.jpg" style="height: 100px; width:100px; border-radius: 50px;" />
        </div>
        <p>Rick Sear</p>
      </div>
      &nbsp;&nbsp;&nbsp;
      <div style="text-align: center;">
        <div style="display: inline-block;">
          <img src="/project-dog/assets/jack.jpg" style="height: 100px; width:100px; border-radius: 50px;" />
        </div>
        <p>Jack Sloane</p>
      </div>
    </div>
  </section>

  {% elsif page.layout == "categories" %}
  <section class="section  section--category-index">
    <h3>Index</h3>
    {% include nav-categories.html %}
  </section>

  {% endif %}

</aside>
